<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.NodeMapper">

    <!--开启二级缓存-->
    <cache/>

    <insert id="save" parameterType="com.kaishengit.pojo.Node" useGeneratedKeys="true" keyProperty="id">
        INSERT  INTO t_node(nodename) VALUES (#{nodename})
    </insert>

    <insert id="saveWithMap" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT  INTO t_node(nodename) VALUES (#{nodename})
    </insert>


    <select id="findById" parameterType="int" resultType="com.kaishengit.pojo.Node" resultMap="NodeMap">
        SELECT t_topic.*,nodename FROM t_node
        LEFT JOIN t_topic ON t_topic.`nodeid` = t_node.`id`
        WHERE t_node.`id` = #{id}
    </select>
    <select id="findByIdNew" resultType="com.kaishengit.pojo.Node">
        SELECT * FROM t_node WHERE id = #{id}
    </select>

    <resultMap id="NodeMap" type="com.kaishengit.pojo.Node">
        <id column="nodeid" property="id"/>
        <result column="nodename" property="nodename"/>
        <collection property="topicList" ofType="com.kaishengit.pojo.Topic">
            <id column="id" property="id"/>
            <result column="title" property="title"/>
            <result column="text" property="text"/>
            <result column="createtime" property="createtime"/>
            <result column="userid" property="userid"/>
            <result column="nodeid" property="nodeid"/>
            <result column="viewnum" property="viewnum"/>
            <result column="replynum" property="replynum"/>
            <result column="likenum" property="likenum"/>
            <result column="favnum" property="favnum"/>
            <result column="replytime" property="replytime"/>
        </collection>
    </resultMap>

</mapper>