<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.kaishengit.pojo.Student" alias="Student"/>
    </typeAliases>


    <environments default="forum">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///test"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>

        <environment id="forum">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///forum"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--<mapper resource="mapper/StudentMapper.xml"/>
        <mapper resource="mapper/TopicMapper.xml"/>
        <mapper resource="mapper/NodeMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>-->
        <mapper class="com.kaishengit.mapper.NodeMapper"/>
        <mapper class="com.kaishengit.mapper.UserMapper"/>
        <mapper class="com.kaishengit.mapper.TopicMapper"/>
    </mappers>

</configuration>